# Auto detect text files and perform LF normalization
* text=auto

/.github/ export-ignore
/.git/ export-ignore
/.dockerignore export-ignore
/docker/ export-ignore
/tests/ export-ignore
/vendor/ export-ignore
/.gitignore export-ignore
/codeception.yml export-ignore
/docker-compose.yml export-ignore

