DSN='mysql:host=localhost;dbname=local;port=3306'
LIVE_SITE='http://localhost:8080'
DBNAME='local'
DBHOST='localhost'
DBPORT='3306'
DBUSER='root'
DBPASS='root'
DBDUMP='tests/_support/Data/db/dump.sql'
DBPOPULATOR='mysql test < tests/_support/Data/db/dump.sql'
WINDOW_SIZE='1920x1080'