#proposal-items-table td .form-control {
    display: block;
    min-width: 20px;
    width: 100%;
}

#proposal-items-table td {
    padding-left: 2px;
    padding-right: 2px;
}
    

td .form-control {
    width: 100%;
}